.header {
  background-color: black;
  color: bisque;
  width: 100svh;
}

.logo {
  max-height: 3em;
}
.logo img {
  height: fit-content;
}
.nav {
  position: absolute;
  margin-right: 7px;
}

.nav-list {
  display: inline;
  position: absolute;
  left: 10px;
}

.nav-item {
  margin-right: 10px;
  font-size: 20px;
}

.nav-link {
  text-decoration: none;
}
